{{!< maintall}}

{{#page}}
<div class="inner custom-page-center contact-page">
	<div class="custom-page-content">
		<h1>{{title}}</h1>
		<p>{{content}}</p>
		<form class="contact-form form-vertical" action="{{meta_description}}" method="POST">
			<input class="" placeholder="Your name" type="text" name="name">
			<input class="" placeholder="Your email address" type="email" name="_replyto">
			<textarea class="" placeholder="Your message"></textarea>
			<button class="button action" type="submit">Send message</button>
		</form>
	</div>
</div>
{{/page}}
