<footer class="site-footer">
	<div class="site-footer-inner inner">
		<div class="site-footer-social">
			{{navigation type="secondary"}}
		</div>
		<div class="site-footer-description">
			{{@site.description}}
		</div>
	</div>
</footer>
