<header class="site-header outer">
	<div class="site-header-inner inner">
		<a href="/" class="site-logo">
			<img src="{{@site.logo}}" alt="{{@site.title}}" />
		</a>

		<span class="header-divider"></span>

		<span class="site-search">
			<button aria-label="Search">
				{{> "icons/search"}}
			</button>
		</span>
		<span class="site-menu">
			<button aria-label="Menu">
				{{> "icons/menu"}}
			</button>
		</span>
		{{> "global/menu"}}

	</div>
</header>
