<div class="search-modal">
	<div class="search-modal-close">
		{{> "icons/close"}}
	</div>
	<div class="search-wrapper">
		<div class="search-header">
			<input class="input" type="text" id="search-input" placeholder="{{t "Enter keyword..."}}">
		</div>
		<div class="results-wrapper">
			<div class="results-empty">
				<div class="results-empty-header">...</div>
				<div class="results-empty-body"></div>
			</div>
			<div id="results-container"></div>
		</div>
	</div>
</div>
