.members-page {
	display: flex;
	align-items: center;
	justify-content: center;
}

.members-page-content {
	margin: 8rem 0;
	text-align: center;
}

@media (min-width: 550px) {
	.members-page-content {
		min-width: 50%;
		max-width: 620px;
	}
}

.members-page-content > * + * {
	margin-top: 2rem;
}

@media (min-width: 550px) {
	.members-page-input {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		min-width: 420px;
	}
}

.message-success,
.message-error {
	margin-top: 2rem;
	text-align: center;
}

.message-success {
	display: none;
	color: var(--color-success);
}

.message-error {
	display: none;
	color: var(--color-error);
}

.success .message-success {
	display: block;
}

.error .message-error {
	display: block;
}

.membership-box {
	margin: 3rem 0;
}

.membership-header {
	text-align: center;
}

@media (min-width: 550px) {
	.membership-header {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}

.membership-content {
	margin-top: 3rem;
}

.membership-header > * + * {
	margin-top: 2rem;
}

@media (min-width: 750px) {
	.membership-plans {
		display: grid;
		gap: 3rem;
		grid-template-areas: 'monthly yearly' 'subscriber subscriber';
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.membership-plans.checkout {
		grid-template-areas: 'monthly yearly';
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: unset;
	}

	.membership-plans .membership-plan {
		margin: 0;
	}
}

@media (min-width: 1000px) {
	.membership-plans {
		grid-template-areas: 'subscriber monthly yearly';
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: none;
	}

	.membership-plans.checkout {
		grid-template-columns: repeat(2, 1fr);
	}
}

.membership-plans > * + * {
	margin-top: 2rem;
}

.membership-plan {
	display: flex;
	border: 1px solid var(--color-border);
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	flex-direction: column;
}

.membership-plan-meta {
	flex: 1 0 auto;
}

.membership-plan .loader-overlay {
	display: none;
}

.membership-plan.loading .loader-overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 0;
	opacity: 0.6;
	display: block;
	position: absolute;
	background: white;
	animation: fadeInFromNone 0.5s ease-out;
}

.membership-plan .loader {
	align-items: center;
	display: none;
	justify-content: center;
}

.membership-plan.loading .loader {
	display: flex;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 0;
	opacity: 0.6;
	animation: fadeInFromNone 0.5s ease-out;
}

.membership-plan.loading .loader svg {
	fill: #000;
	width: 20px;
	height: 20px;
}

.membership-plan > * {
	padding: 2rem;
}

.membership-plan > * + * {
	border-top: 1px solid var(--color-border);
}

.membership-plan.plan-monthly {
	grid-area: monthly;
}

.membership-plan.plan-yearly {
	grid-area: yearly;
}

.membership-plan.plan-subscriber {
	grid-area: subscriber;
}

.plan-period {
	font-size: 1.4rem;
}

.membership-plan-description > * + * {
	margin-top: 1rem;
}

.membership-plan-features > * + * {
	margin-top: 1rem;
}

.membership-plan-action {
	color: white;
	background-color: var(--color-action);
	cursor: pointer;
}

.membership-plan:hover .membership-plan-action {
	background-color: var(--color-action-hover);
}

.membership-plan:active .membership-plan-action {
	background-color: var(--color-action-active);
}

.membership-plan-action {
	display: block;
}

.error .membership-plan-action {
	text-align: center;
	background-color: var(--color-error);
}

.membership-plan.error:hover .membership-plan-action {
	background-color: var(--color-error);
}

.membership-plan-action .text {
	display: block;
}

.error .membership-plan-action .text {
	display: none;
}

.membership-plan-action .text.error {
	display: none;
}

.error .membership-plan-action .text.error {
	display: block;
}
