/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

 */

/* Base components */
@import "vars.css";

@import "fonts/cooper-hewitt.css";
@import "fonts/charter.css";
/* @import "fonts/ibm-plex-mono.css"; */

@import "lib/normalize.css";
@import "lib/tocbot.css";
@import "lib/toastr.css";
@import "lib/prism/prism.css";
@import "lib/prism/base16-bright.dark.css";
@import "lib/slick/slick.css";
@import "lib/slick/slick-theme.css";

@import "global/notifications.css";

@import "base/lib.css";
@import "base/utils.css";
@import "base/animations.css";
@import "base/global.css";

@import "components/input.css";
@import "components/textarea.css";
@import "components/button.css";
@import "components/form.css";

@import "context/author.css";
@import "context/tag.css";
@import "context/index.css";
@import "context/page.css";
@import "context/post/post.css";
@import "context/post/content.css";

@import "ein/header.css";
@import "ein/footer.css";
@import "ein/menu.css";
@import "ein/search.css";
@import "ein/dark.css";

@import "pages/tags.css";
@import "pages/custom.css";
@import "pages/account.css";
@import "pages/authors.css";
@import "pages/membership.css";
@import "pages/error.css";

.site-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-main {
	z-index: 100;
	flex-grow: 1;
}

.site-main.tall {
	display: flex;
	align-items: stretch;
}

/* Full width page blocks */
.outer {
	position: relative;
}

/* Centered content container blocks */
.inner {
	width: 100%;
	margin: 0 auto;
	padding: 1rem 4vmin;
	max-width: var(--max-width-large);
}
