textarea {
	width: 100%;
	border: 1px solid var(--color-border);
	background: #fff;
	padding: 1rem 1.5rem 0;
	padding-right: 4.5rem;
	border-radius: 3px;
	font-size: 1.8rem;
}

textarea.center {
	text-align: center;
}
