<div class="post-section-wrapper comments">
	<div class="post-heading canvas">
		<span class="post-heading-text">{{t "Comments"}}</span>
	</div>

	<div class="post-section comments canvas">
		<div class="post-comments">
			<div class="post-comments-link">
				<div class="post-comments-text">{{t "Show comments"}}</div>
				<div class="post-comments-loader">{{> "icons/bars"}}</div>
			</div>
			<div id="disqus_thread"></div>
		</div>
	</div>
</div>
