<div class="sticky-header outer">
	<div class="sticky-header-wrapper inner">
		<div class="sticky-header-text ellipsis">
			<div class="sticky-title">{{title}}</div>
			<div class="toc"></div>
			<div class="rt"></div>
		</div>
		<div class="sticky-header-up">↑</div>
	</div>
	<div class="post-progress">
		<div class="post-progress-slide">
			<div class="post-progress-bar"></div>
		</div>
	</div>
</div>
